<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AudiobookshelfTray.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    </configSections>
    <userSettings>
        <AudiobookshelfTray.Properties.Settings>
            <setting name="ServerVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerName" serializeAs="String">
                <value>Audiobookshelf</value>
            </setting>
            <setting name="StartAtLogin" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value>13378</value>
            </setting>
            <setting name="DataDir" serializeAs="String">
                <value />
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AppVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoCheckForUpdates" serializeAs="String">
                <value>True</value>
            </setting>
        </AudiobookshelfTray.Properties.Settings>
    </userSettings>
	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true">
		<targets>
			<target name="logdebugsystem" xsi:type="DebugSystem"
                layout="${when:when=logger!='Server':inner=[App   ] [${date:format=yyyy-MM-dd HH\:mm\:ss.fff}] ${pad:padding=5:inner=${level:uppercase=true}}\: }[${logger:shortName=true}] ${message}"
            />
			<target name="logfile" xsi:type="File"
                layout="${when:when=logger!='Server':inner=[App   ] [${date:format=yyyy-MM-dd HH\:mm\:ss.fff}] ${pad:padding=5:inner=${level:uppercase=true}}\: }[${logger:shortName=true}] ${message}"
                maxArchiveFiles="4"
                archiveAboveSize="1024000"
                fileName="${specialfolder:folder=LocalApplicationData:cached=true}/AudiobookshelfTray/logfile.txt"
            />
		</targets>

		<rules>
			<logger name="*" minlevel="Debug" writeTo="logdebugsystem" />
			<logger name="*" minlevel="Debug" writeTo="logfile" />
		</rules>
	</nlog>
</configuration>