<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AudiobookshelfTray.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AudiobookshelfTray.Properties.Settings>
            <setting name="ServerVersion" serializeAs="String">
                <value>v2.6.0</value>
            </setting>
            <setting name="ServerName" serializeAs="String">
                <value>Audiobookshelf</value>
            </setting>
            <setting name="StartAtLogin" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value>13378</value>
            </setting>
            <setting name="DataDir" serializeAs="String">
                <value />
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
        </AudiobookshelfTray.Properties.Settings>
    </userSettings>
</configuration>